.app-div {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-create {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.app {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-input {
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}

.todo-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
    font-weight: 700;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 10px;
    margin-top: 10px;
}

.todo-list {
    width: 100%;
    margin-top: 50px;
}

.todo-icons {
    font-size: 25px;
    margin-right: 7px;
    cursor: pointer;
}