body {
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    height: 100vh;
}

.delete-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(185, 76, 76);
    border: none;
    color: #fff;
    width: 45px;
}